<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatrooms</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/templates/css/style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav id="chatNavBar">
        <small>Logged as {{ userName }}</small>
    </nav>
    <div id="chatroomsContainer" class="chatroomsContainer">
        <div class="title">
            <h1> Chatrooms List: </h1>
        </div>
        <p></p>
        <div class="chatrooms">
            <center>
                <button onclick="location.reload()" id="reloadChatrooms">Reload Chatrooms</button>
                <br>
                <small style="color: white;">(click chatroom name to enter)</small>
                <br><br>
                <table id="chatroomTable">
                    <thead>
                        {% for room in rooms %}
                        <tr>
                            <td><button id="{{ room }}" onclick="joinRoom(this.id)" class="roomButton" type="button">{{ room }} </button></td></button>
                        </tr>
                        {% endfor  %}
                    </thead>
                </table>
            </center>
        </div>
    </div>

    <div id="chatContainer" class="chatContainer">
        <button onclick="LeaveChatRoom()" id="leaveButton">Leave</button>
        <div class="fix">
            <div class="title">
                <h1 id="chatTitle"> Chatroom: </h1>
            </div>
            <center>
                <div class="chatFix">
                    <div class="chatMessages">
                        <div id="innerMessages">
                        </div>
                        
                        <div class="userListFix">
                            <div class="usersContainer">
                                <h3 id="userListTitle">Users</h3>
                                <p></p>
                                <h5 id="usersConnected">
                                </h5>
                            </div>
                        </div>
                        
                    </div>
                    <input type="text" name="inputMessage" id="inputMessage">
                </div>
            </center>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="/templates/js/rooms.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        setUserData("{{ userName }}")

        socket.on('getUsersList', (data) => {
            getUsersConnected(data);
        });

        socket.on('updateRoomUserList', (data) => {
            updateRoomList(data);
        });

        socket.on('showMessage', (data) => {
            showMessage(data);
        });

        socket.on('commandResponse', (data) => {
            commandResponse(data);
        });
    </script>
</body>
</html>